SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=aysunrp@code.edu.az
SMTP_PASSWORD=
SMTP_FROM=aysunrp@code.edu.az
SMTP_ENABLE_SSL=true
SMTP_CONFIRMATION_TO=aysunrp@code.edu.az

AUTH_REQUIRE_CONFIRMED_EMAIL=true
EMAIL_CONFIRMATION_HOURS=24

SUPERADMIN_EMAIL=superadmin@elearn.local
SUPERADMIN_PASSWORD=SuperAdmin!123

ADMIN_EMAIL=admin@elearn.local
ADMIN_PASSWORD=Admin!12345
